@charset "utf-8";

@font-face {
  font-family: 'YanoljaYacheR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-size: 20px;
$font-family: 'YanoljaYacheR';
$button-color: #ffc107;
$white-color: #fff;

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
}

.btn {
  width: 75%;
  padding: 25px 10px;
  margin: 0 auto;
  font-family: $font-family;
  font-size: 1.6em;
  border: none;
  border-radius: 10px;
  background-color: $button-color;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
}

#wrap {
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat center / cover;
}

/* mobile only */
#onlyMobile {
  @include flex(center, center);
  width: 100vw;
  height: 0;
  background-color: $button-color;
  overflow: hidden;

  span {
    font-size: 1.5em;
  }
}

.start {
  @include flex(center, center);
  height: 100vh;
  flex-direction: column;
}

/* section */
section .inner {
  @include flex(center, flex-start);
  flex-direction: column;
}

/* question */
.question {
  display: none;
  height: 100vh;

  .inner {
    width: 90%;
    min-height: 80vh;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
  .btn {
    width: 90%;
    height: 120px;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
}
.progress {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ddd;
  overflow: hidden;

  .progress-bar {
    width: calc(100 / 12 * 1%);
    height: 15px;
    background-color: #f19409;
  }
}

/* result */
.result {
  @include flex(center, center);
  flex-direction: column;
  display: none;
  width: 100%;
  padding: 30px 20px 150px 20px;
  background: url('../img/bg.jpg') no-repeat center / cover;

  h2 {
    font-size: calc(10px + 6vmin);
  }
}
.image-box {
  width: 90%;
  height: 300px;
  margin: 0 auto 30px auto;
  padding: 10px;
  overflow: hidden;

  img {
    width: 100%;
  }
}
.text {
  width: 100%;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);

  .character,
  .explain {
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: -1px;
  }
}
.suit {
  width: 100%;
  margin-bottom: 50px;
  padding: 30px 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.match {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
  }
  p {
    font-size: 1.5em;
  }
}

.share {
  margin-bottom: 30px;
  text-align: center;
}

.restart {
  display: block;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  body {
    font-size: 24px;
  }
  #onlyMobile {
    height: 100vh;
  }
}

// mini
@media screen and (max-width: 360px) {
  body {
    font-size: 16px;
  }
}
